<div id="user-link-container">
    <div id="user-img-profile"></div>
</div>
<div [ngSwitch]="user">
    <div *ngSwitchCase="'seller'">
        <div class="nav-option">Home</div>
        <div class="inv-nav-option">Orders</div>
        <div class="inv-nav-option">Products</div>
    </div>
    <div *ngSwitchCase="'buyer'">
        <div class="nav-option">Home</div>
        <div class="inv-nav-option">Marketplace</div>
        <div class="inv-nav-option">Basket</div>
        <div class="inv-nav-option">Favorites</div>
    </div>
    <div *ngSwitchCase="'delivery'">
        <div class="nav-option">Delivery Orders</div>
    </div>
    <div *ngSwitchDefault>output2</div>
</div>
